name: Build and test

on:
  push:
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-16.04
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install Node.js dependencies
        run: npm ci

      - name: Run linters
        run: npm run lint

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          headless: true
          start: npm start
          config: pageLoadTimeout=100000,baseUrl=http://localhost:3000
          record: true
        env:
          CYPRESS_KEYCLOAK_CLIENT: ${{ secrets.CYPRESS_KEYCLOAK_CLIENT }}
          CYPRESS_KEYCLOAK_REALM: ${{ secrets.CYPRESS_KEYCLOAK_REALM }}
          CYPRESS_KEYCLOAK_URL: ${{ secrets.CYPRESS_KEYCLOAK_URL }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_TEST_PASSWORD: ${{ secrets.CYPRESS_TEST_PASSWORD }}
          CYPRESS_TEST_USER: ${{ secrets.CYPRESS_TEST_USER }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REACT_APP_KEYCLOAK_CLIENT: ${{ secrets.CYPRESS_KEYCLOAK_CLIENT }}
          REACT_APP_KEYCLOAK_REALM: ${{ secrets.CYPRESS_KEYCLOAK_REALM }}
          REACT_APP_KEYCLOAK_URL: ${{ secrets.CYPRESS_KEYCLOAK_URL }}
          REACT_APP_API_URL: http://www.wedotakeaway.com/graphql/

  docker:
    name: Docker
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: test

    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build latest
        run: docker build . --tag wedotakeaway/customer-webapp:latest

      - name: Push latest
        run: docker push wedotakeaway/customer-webapp:latest

      - name: Build tagged
        run: docker build . --tag wedotakeaway/customer-webapp:$GITHUB_SHA

      - name: Push tagged
        run: docker push wedotakeaway/customer-webapp:$GITHUB_SHA

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: docker

    steps:
      - name: Update and restart server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.APP_SERVER_HOST }}
          username: ${{ secrets.APP_SERVER_USERNAME }}
          key: ${{ secrets.APP_SERVER_KEY }}
          port: ${{ secrets.APP_SERVER_PORT }}
          script: '/opt/wdt/restart.sh'
